doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Signup page
        include ./partials/head
        style 
            include ../public/my-css/custom.css
    body 
        include ./partials/nav
        div.form-container  
            form.my-sigin-signup(action="/user/signup" method="post") 
                h1 Signup
                div.mb-3
                    label.form-label(for='fullname' ) Full Name:
                    input.form-control#fullname(type='text' aria-describedby='emailHelp' name="fullname" placeholder="Enter your name")
                div.mb-3
                    label.form-label(for='exampleInputEmail1' ) Email address
                    input.form-control#exampleInputEmail1(type='email' aria-describedby='emailHelp' name="email" placeholder="example@gmail.com")
                div.mb-3
                    label.form-label(for='exampleInputPassword1' ) Password
                    input.form-control#exampleInputPassword1(type='password' name="password" placeholder="at least 8 characters")
                button.btn.my-button(type='submit') Submit
    include ./partials/script